<h2><%= @recipe.name %></h2>

<%= button_to "Edit", edit_recipe_path(@recipe), method: :get %>
<%= button_to "Delete", recipe_path(@recipe), method: :delete, data: { confirm: "Delete recipe?" } %>

<p><%= @recipe.category.name %></p>

<%= image_tag @recipe.image %>

<p>Method:</p>
<p><%= @recipe.method %></p>

<% if @recipe.quantities.any? %>
  <p>Ingredients:</p>
  <% @recipe.quantities.each do |quantity| %>
    <p><%= quantity.amount %> <%= quantity.unit%> <%= link_to quantity.ingredient.name, ingredient_path(quantity.ingredient) %></p>
    <%= button_to "Remove", remove_ingredient_recipe_path(@recipe, quantity.ingredient), method: :get %>
  <% end %>
<% end %>