<!DOCTYPE html>
<html>
<head>
  <title>CookbookApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header><h1>CookBook</h1></header>

<nav>
  <ul>
    <li><%= link_to "Categories", categories_path %></li>
    <li><%= link_to "Recipes", recipes_path %></li>
  </ul>
</nav>

<%= render partial: "nav" rescue nil %>

<%= yield %>

</body>
</html>
