<!DOCTYPE html>
<html>
<head>
  <title>CookbookApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>

<h1 class="logo">cook<br>book</h1>

</header>

<nav class="nav">
  <ul>
    <li><%= link_to "Categories", categories_path %></li><!--
    --><li><%= link_to "Recipes", recipes_path, class: "active"%></li><!--
    --><li><%= link_to "Ingredients", ingredients_path %></li>
  </ul>
</nav>

<!-- <h2><%# render partial: "subheading" rescue nil %></h2> -->


<div class="container">
  <%= yield %>
</div>

</body>
</html>
